/* General */
#boxContainer{   /* to make side-by-side */
    display: flex;
}

/* style the hedder */
header {
	height: 100px;

	/* Display items in every three columns */
	display: grid;
	grid-template-columns: 20% 50% 30%;

	justify-content: center; /* setting for block placement */
	align-content: center; /* setting for item in a block */
	background-color: #5f524f;
	padding: 20px;
}

html,
body {
	margin: 0px; /* Margins at each ends*/
	padding: 0px; /* Margins between border and content */
}

#logo {
	border: 1px solid #fff;
	padding: 10px;
	width: 50%;
}

#slogan {
	color: #fff;
	font-weight: normal;
	font-size: 1.5em;
	font-family: "EB Garamond", serif;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	text-transform: uppercase; /* oomoji */
	text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
	padding-top: 0.1em;
}

#slogan::before,
.slogan::after {
	content: "§";
	display: inline-block;
	-webkit-transform: rotate(90deg); /* for crhome */
    -moz-transform: rotate(90deg); /* for firefox */
	-ms-transform: rotate(90deg); /* for microsoft */
	transform: rotate(90deg);
	opacity: 0.2;
	margin: 0 0.5em;
	font-size: 1em;
}

#search form {
    float: right;
    margin-top: 14px;
    position: relative;
    width: 170px;
    height: 40%;
}

#search form input {
    padding: 6px;
}

#search form i {
    position: absolute;
    right: -5px;
    top: 28px;
    color: green;
}

/* Style for the login form */
#logform{
	width: 250px;
	height: 200px;
    flex-basis: auto;
	
	position: absolute;
    right: 20px;
    top: 95px;

	background-color: white;
    border: solid;
    border-color: black;
	text-align: center;
}

#logform input[type="text"]{
    width: 180px;
    height: 35px;

    border-radius: 0.5em;

    margin-bottom: 5px;
}

#logform button{
    width: 150px;
    height: 50px;

    border-radius: 3em;
    background-color: yellowgreen;
}

/* Style the navigation bar */
nav {
    border: 1px solid #ccc;
}

nav ul {
    /* allow centering to work  */
    display: table;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    height: 15px;
    padding: 20px;
}

/* Style the main */
#main {
    display: grid;
    grid-template-columns: 75% auto;
    grid-column-gap: 10px;
    min-height: 500px;
}

#main-content, #sidebar {
    padding: 5px 20px;
    border: 1px solid;
}

#main table {
    text-align: left;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

#main table tr:nth-child(2n){
    background-color: rgb(202, 202, 202);
}

#main table th{
    border: 1px solid gray;
}

#sidebar ul li {
    padding: 10px 0;
}

/* Style fotter */
footer {
    background-color: #5F524F;
    padding: 20px;

    display: grid;
    grid-template-columns: auto 75%;
}

/* Style for the scroll-to-top button */
#scroll {
    width: 40px;
    height: 40px;

    position: fixed;
    right: 30px;
    bottom: 30px;

    background-color: rgba(2, 129, 1, 0.85);
    text-align: center;
}

#scroll a { color: #fff; }
#scroll i { margin-top: 8px; }


